In [2]:
import pandas as pd
df = pd.read_parquet("/Users/dimasayika/Documents/DE/Data-Engineering-Zoomcamp-2026/pipeline/green_tripdata_2025-11.parquet")
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [3]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [7]:
dfs = df[df["lpep_pickup_datetime"].between("2025-11-01","2025-12-01",inclusive="neither")]
len(dfs[dfs["trip_distance"]<=1].reset_index())
# dfs

8007

In [8]:
df["month"]=df["lpep_pickup_datetime"].dt.month
df["day"]=df["lpep_pickup_datetime"].dt.day
df["year"]=df["lpep_pickup_datetime"].dt.year

In [9]:
df[df["trip_distance"]<100].groupby(["month","day"])\
    .agg(total=("trip_distance","sum"))\
    .sort_values("total",ascending=False)

             total
month day
11    20   6377.03
      19   6031.56
      18   5976.12
      6    5973.34
      25   5954.80
      5    5841.01
      17   5753.76
      21   5724.63
      13   5677.29
      24   5639.29
      3    5609.86
      14   5594.69
      10   5352.27
      26   5343.56
      12   5322.01
      7    5317.84
      4    4925.90
      1    4727.58
      11   4636.86
      8    4495.23
      15   4465.84
      16   4392.67
      30   4266.12
      2    4249.90
      22   4231.51
      23   4228.88
      29   4060.74
      9    3964.26
      27   3508.00
      28   3331.53
10    31     32.23
12    1      30.48
10    30      5.70
      27      4.98
      26      1.35

In [10]:
import pandas as pd

pd.set_option("display.max_columns", None)

In [13]:
import pandas as pd
df_zone = pd.read_csv("/Users/dimasayika/Documents/DE/Data-Engineering-Zoomcamp-2026/pipeline/taxi_zone_lookup.csv")
df_zone=df_zone.dropna()

In [14]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
258         259          Bronx       Woodlawn/Wakefield    Boro Zone
259         260         Queens                 Woodside    Boro Zone
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone

[263 rows x 4 columns]

In [15]:
dfs = pd.merge(df,df_zone,left_on="PULocationID",right_on="LocationID")
dfs

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,month,day,year,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00,11,1,2025,74,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00,11,1,2025,74,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00,11,1,2025,83,Queens,Elmhurst/Maspeth,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00,11,1,2025,166,Manhattan,Morningside Heights,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00,11,1,2025,166,Manhattan,Morningside Heights,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46791,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,0.00,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00,11,30,2025,59,Bronx,Crotona Park,Boro Zone
46792,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,0.00,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00,11,30,2025,74,Manhattan,East Harlem North,Boro Zone
46793,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,0.00,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75,11,30,2025,33,Brooklyn,Brooklyn Heights,Boro Zone
46794,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,0.00,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00,11,30,2025,16,Queens,Bayside,Boro Zone
46795,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,0.00,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75,11,30,2025,65,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone

In [16]:
dfs[
    (dfs["day"] == 18) & (dfs["month"] == 11) & (dfs["year"] == 2025) 
].groupby("Zone") \
 .agg(total=("total_amount", "sum")) \
 .sort_values("total", ascending=False)

                                     total
Zone
East Harlem North                  9281.92
East Harlem South                  6696.13
Central Park                       2378.79
Washington Heights South           2139.05
Morningside Heights                2100.59
...                                    ...
West Village                         16.00
East New York/Pennsylvania Avenue    16.00
Upper West Side South                16.00
Bronxdale                            13.57
Brooklyn Navy Yard                    0.00

[135 rows x 1 columns]

In [17]:
dfs = pd.merge(df,df_zone,left_on="DOLocationID",right_on="LocationID")
dfs

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,month,day,year,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,1.00,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00,11,1,2025,42,Manhattan,Central Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,1.00,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00,11,1,2025,42,Manhattan,Central Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,1.00,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00,11,1,2025,160,Queens,Middle Village,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,1.00,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00,11,1,2025,127,Manhattan,Inwood,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,3.75,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00,11,1,2025,262,Manhattan,Yorkville East,Yellow Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46268,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,0.00,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00,11,30,2025,51,Bronx,Co-Op City,Boro Zone
46269,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,0.00,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00,11,30,2025,151,Manhattan,Manhattan Valley,Yellow Zone
46270,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,0.00,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75,11,30,2025,163,Manhattan,Midtown North,Yellow Zone
46271,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,0.00,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00,11,30,2025,95,Queens,Forest Hills,Boro Zone
46272,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,0.00,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75,11,30,2025,87,Manhattan,Financial District North,Yellow Zone

In [19]:
df_name_zone = pd.merge(dfs,df_zone,left_on="PULocationID",right_on="LocationID")

In [20]:
bf = df_name_zone.rename(columns={"Zone_x":"zone_drop","Zone_y":"zone_pickup"})

In [21]:
bf.groupby("zone_drop").agg(total=("tip_amount","sum")).sort_values("total",ascending=False)

                            total
zone_drop
LaGuardia Airport         7233.92
Upper East Side North     6964.59
Upper West Side North     5470.67
East Harlem South         4473.86
Upper West Side South     4109.34
...                           ...
Bronxdale                    0.00
South Beach/Dongan Hills     0.00
Hammels/Arverne              0.00
Van Cortlandt Park           0.00
Allerton/Pelham Gardens      0.00

[245 rows x 1 columns]